#executables and libraries
*.so
*.out
*.exe
*.app
*.pyd

#objects and other compiled files
moc_*
*.o
.qmake.stash
Makefile
LongQt
LongQtGrapher
LQGridEditor
build/*
*.cmake
PyLongQt_autogen/
CMakeCache.txt
CMakeFiles/

#data files and temp text editor files
data*/
defaultTrials/
*.swp
*.swo

#qt creator
*.user*

#kdev files
.kdev4/
*.kdev4

#precompiled version
versions

#docs
site/
#cmake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build.ps1

#python
.cache
.hypothesis
__pycache__

